body {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.input {
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    display:block;
    align-items: center
}

label, h4 {
    margin-left: 5px;
    margin-right: 5px
}
#choose-class, #schedule {
    text-align: left;
    float: left;
    border: 1px solid black;
    border-radius: 5%
}

label {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
}

select {
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    width: 90%
}

.btn {
    margin-left: 40%;
    margin-bottom: 10px
}

#calendar {
    position: absolute; 
    bottom: 0;
    right: 0
}

tr, td, h5 {
    border: 1px solid black;
    text-align: center;
    margin-left: auto;
    margin-right: auto
}

span {
    display: inline-block;
    width: 120px
}

#booked-classes {
    width: 80%;
    margin-left: auto;
    margin-right: auto
}

#table-column {
    display: table-column
}